.manufacturing {
  @include bg-cover;
  @include flex-all-center;

  position: relative;
  z-index: 1;
  min-height: 900px;
  font-family: var(--font-title);
  text-align: center;
  color: var(--color-white);

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.6);
    inset: 0;
  }

  &::after {
    content: "";
    position: absolute;
    top: 60px;
    width: 125px;
    height: 130px;
    background-image: url("../img/sprite.svg#needle");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &__slogan {
    font-weight: 500;
    font-size: 26px;
    line-height: 1.6;
    letter-spacing: 0.3em;
    text-transform: uppercase;
  }

  &__text {
    @include adaptive_size("font-size", 75, 25);

    font-weight: 400;
    line-height: 1.4;

    mark {
      text-transform: uppercase;
      font-weight: 600;
    }
  }
}
