.article {
  @include flex-a-center;

  flex-direction: column;
  height: 100%;
  // width: 100%;
  // max-width: 362px;

  &__box {
    margin-bottom: 10px;

  }

  &__content {
    @include flex;
    align-items: flex-start;
    flex-direction: column;
    flex: 1;
  }


  &__price {
    @include flex-sb;
    align-items: flex-start;
    margin-top: auto;
    font-family: var(--font-title);
    color: var(--color-gray);
    margin-bottom: 15px;
  }

  .btn {
    margin-top: auto;
  }
}
