.btn {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  padding: em(20) em(32);
  font-weight: 300;
  @include adaptive_size("font-size", 25, 16);
  line-height: 1.3;
  text-transform: uppercase;
  letter-spacing: 0.265em;
  // max-width: fit-content;
  color: var(--color-white);
  background-color: var(--color-brown);
  transition-property: color, background-color, border;
  transition-duration: 0.3s;
  transition-timing-function: linear;


  &:focus {
    outline: 2px solid var(--color-active);
    outline-offset: 2px;
  }

  &:hover {
    background-color: var(--color-orange-100);
  }

  &:active {
    background-color: var(--color-active);
  }

  &--price {
    padding: rem(12) rem(35);
    font-weight: 400;
    letter-spacing: 0;
    text-transform: none;
    // color: var(--color-red);
    // background-color: var(--color-white);
    // border: 1px solid var(--color-red);

    &:hover {
      color: var(--color-white);
      background-color: var(--color-red);
    }
  }

  // &--second {
  //   padding: 20px 72px 20px 30px;
  //   background-color: var(--color-white);
  //   color: var(--color-ebony);
  //   border: 1px solid var(--color-ebony);

  //   &::before {
  //     content: "";
  //     right: 24px;
  //     background-color: var(--color-ebony);
  //   }
  // }

  // &--inverse {
  //   border: 1px solid var(--color-white);
  //   background-color: transparent;
  // }
}

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
}

.slider-btn {
  position: absolute;
  top: 50%;

  &::before {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    mask-image: url("../img/sprite.svg#arrow");
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: cover;
    width: 40px;
    height: 70px;
    background-color: var(--color-gray);
    transition: background-color 3s linear;

    // @include for-width(-mobile-l) {
    //   width: 20px;
    //   height: 20px;
    // }
  }

  &--reverse {

    &::before {
      transform: rotate(180deg);

      // @include for-width(-mobile-l) {
      //   width: 20px;
      //   height: 20px;
      // }
    }

    // @include for-width(-mobile-l) {
    //   right: 30px;
    // }
  }

  &:hover {

    &:before {
      background-color: var(--color-brown);
    }
  }

  // @include for-width(-mobile-l) {
  //   width: 20px;
  //   height: 20px;
  // }
}

.slider-btn.swiper-button-disabled {
  pointer-events: none;

  &::before {
    background-color: transparent;
  }
}
